.checking {
  display: flex;

  justify-content: center;

  align-items: center;

  height: 400px;

  font-size: 30pt;
}

.copy-button:active {
  background-color: aquamarine;
  height: 50px;
}

.pop-over {
  
}